* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
  height: 100vh;
}

main.dark-theme {
  background-color: rgb(41, 41, 41);
  color: white;
}

main.dark-theme h2 {
  color: rgb(185, 111, 255);
}